@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-base: 16px;
  --font-size-3xs: 10px;
  --font-size-6xs: 7px;
  --font-size-xl: 20px;
  --font-size-13xl: 32px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-forestgreen: #2ca02c;
  --color-lime-100: rgba(66, 255, 0, 0.5);
  --color-red-100: #fe0000;
  --color-red-200: rgba(255, 0, 0, 0.5);
  --color-gold-100: #ffc700;
  --color-gold-200: rgba(255, 199, 0, 0.21);
  --color-orange: #ff9900;
  --color-gray-100: #7b7b7b;
  --color-gray-200: rgba(0, 0, 0, 0.5);
  --color-gray-300: rgba(0, 0, 0, 0.3);
  --color-deeppink: #ff39b0;
  --color-blue-100: #051efd;
  --color-lightsteelblue: #b4bcfe;

  /* Gaps */
  --gap-6xs: 7px;

  /* Paddings */
  --padding-5xs: 8px;

  /* Border radiuses */
  --br-2xl: 21px;
  --br-8xs: 5px;
  --br-10xs: 3px;
}
